__tests__/*
bundle/*
android/*
ios/*

.buckconfig
.eslintrc.js
.flowconfig
.gitignore
.node-version
.prettierrc.js
.ruby-version
.watchmanconfig
app.json
babel.config.js
Gemfile
metro.config.js
tailwind.config.js
